@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    color: #141c3a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

div{
    display: block;
}

section{
    padding: 5rem 1.5rem;
    display: block;
    margin: 0;
    
}

span {
    font-style: inherit;
    font-weight: inherit;
}

p{
    font-family: "europa", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

ul {
    font-family: "europa", sans-serif;
    list-style: none;
    font: inherit;
}

li {
    margin-top: 0.25em;
    display: list-item;
    text-align: center;
    box-sizing: inherit;
    padding-right: 3em;
}

.navigation {
    padding : 1.2em 0em;
    box-shadow: none;
    z-index: auto;
    min-height: 3.25em;
    background: white;
}

.nav-container {
    margin: 0em;
    display:flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3.25em;
    width: 100%;
}

.navbar-item {
    padding: .5em .75em;
}

.slogo {
    width: 1.25em;
    height: 90px;
    width: 72px;
}

.navbar-button {
    margin-left: .8em;
    padding: 1.2em;
    border: 2px solid #6e07f3;
    border-radius: 2em;
    font-size: 18px;
    background-color: transparent;
    color: #6e07f3;
    text-decoration: none;
    display: inline-flex;
}

.hero-section {
    padding: 0;
}

.hero-body {
    padding: 3em;
}

.container {
    margin: -0.75em;
    text-align: center;
}

.column {
    padding: 0.75em;
}

.column h1 {
    margin-bottom: 1.5em;
    color: #141c3a;
    font-weight: 800;
    font-size: 2em;
    font-family: "eurostile", sans-serif;
}

.column h2 {
    margin-bottom: 1.5em;
    color: rgba(10, 10, 10, 0.9);
    line-height: 1.5;
    font-size: 1.25em;
    font-weight: 400;
    font-family: "europa", sans-serif;
}

img {
    height: auto;
    max-width: 100%;
}

.column img {
    margin: 2em 0em;
    width: 150px;
    
}

.hero-foot{
    padding: 0em 1.5em;
}

.hero-foot img {
    margin-bottom: -0.4em;
}



.section-purple {
    background-color: #6e07f3;
    color: white;
    text-align: center;
    padding-bottom: 14rem;
}

.column-is-three-fifth {
    padding: 0.75em;
}

.column-is-three-fifth h1 {
    color: white;
    margin-bottom: 1.5em;
    font-weight: 800;
    font-size: 1.5em;
    font-family: "eurostile", sans-serif;
}

.column-is-three-fifth h2 {
    color: white;
    font-weight: 400;
    line-height: 1.5;
    font-family: "europa", sans-serif;
}

.section-white {
    margin-top: -14em;
    padding: 5em 1.5em 1em 1.5em;
}

.container-is-narrow {
    max-width: 1200px;

}

.box {
    padding: 0;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
    color: #141c3a;
    display: block;
    text-align: center;
}

.container-skillset {
    text-align: center;
}

.column-skillset {
    padding: 3em 2em;
}

.skillset-span {
    display: inline-block;
    width: 2.5em;
    font-size: 2em;
    color: #141c3a
}

.skillset-h1 {
    margin: 1.5em 0em;
    font-family: "eurostile", sans-serif;
    font-weight: 800;
    color: #141c3a;
    line-height: 1.125;
    font-size: 1.5rem
}

.skillset-p{
    margin-bottom: 2em;
    font-size: 18px;
    line-height: 1.5;
}

.skillset-p-color-purple {
    color:#6e07f3;
    margin: 3em 0 .5em 0;
}

.svg-img {
    width: 150px; 
}

.collaboration {
    text-align: center;
    padding-bottom: 12em;
    margin-top: 2.5em;
}

.colab-button {
    text-decoration: none;
    color: #6e07f3;
    border: 2px solid #6e07f3;
    border-radius: 2em;
    font-size: 18px;
    background-color: transparent;
    /* padding: 1.2em 2.5em; */
    padding: .5em .5em;
    margin-top: 2em;
}

.icon {
    height: 1.5em;
    width: 1.5em;
    align-items: center;
    display: inline-flex;
    margin-top: 2em;
}

.call-to-action {
    margin-top: -4em;
    padding: 5em 1.5em 2em;
    background-color: #6e07f3;
    color: #ffffff;
    display: block;
    text-align: center;
}

.call-action{
    margin: -.75em;
}

.call-action-item {
    margin-bottom: 0.75em;
    color: white;
}

.call-to-action-box {
    border-radius: 1em;
    padding: 3.5rem 2rem;
    margin-top: -9rem;
    background-color: #141c3a;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
}

.title {
    color: #ffffff;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 2em
}

.call-action-button{
    color:#ffffff;
    padding: 1.25em 2em;
    border: 2px solid #5be9b9;
    background-color: transparent;
    border-radius: 2em;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

.footer {
    background-color: #6e07f3;
    padding: 3em 1.5em 4em;
    color: white;
    text-align: center;
    display: block;
}

.foot-column {
    margin: -0.75em;
    text-align: inherit;
}

.foot-h1{
    color: white;
    margin: 2em;
    opacity: .8;
    font-weight: 400;
    font-size: 1.5em;
}

.social-icons {
    margin: 0 auto 3em;
}

.social-p {
    margin-bottom: 2em;
}

.social-button {
    font-size: 1.05em;
    background-color: transparent;
    color: white;
    border-radius: 100%;
    margin: 0 0.2em;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-weight: 400;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    display: inline-flex;
}

.icon-small {
    height: 1.4em;
    width: 1.4em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(-0.5em - 1px);
    margin-right: calc(-0.5em - 1px);
    padding: .5em 1em;
}

.svg-social {
    overflow: visible;
    box-sizing: content-box;
}

.copyright {
    opacity: .8;
}

.startup-box{
    padding: 2.5em;
}

.startup-img {
    margin-bottom: 1.5em;
}

.startup-p {
    font-size: 16px;
    margin-bottom: 2em;
}

.link {
    font-weight: 400;
    font-size: 18px;
    border: none;
    color: #1a8cff;
    text-decoration: none;
}

.startup-items {
    background-color: #ebf5ff;
    color: #0068d1;
    font-size: 1em;
}

.startup-icon {
    height: 1.5em;
    width: 1.5em;
    align-items: center;
    display: inline-flex;
    height: 1em;
}

#colab-h1 {
    font-size: 20px;
}

.sec-contact {
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #141c3a;
    background-color: white;
    font-family: "eurostile", sans-serif;
}


.cont-img {
    margin: -3em auto 3em;
}



.buttons {
    display: flex;
    position: relative;
}

.cont {
    align-items: stretch;
}

.special-icon {
    padding: 1em;
}

form {
    max-width: 640px;
    margin: 2em auto 0;
    padding: 0;
    border: 0;
    font: inherit;
}

.is-centered {
    justify-content: center;
}

.is-half {
    text-align: left;
}

label {
    font-weight: 400;
    font-family: "eurostile", sans-serif;
    font-size: 1.2em;
    color: rgba(41, 51, 71, 0.65);
    margin-bottom: .5em;
    text-align: left;
    margin-left: .5em;
}



.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1em;
    position: relative;
    text-align: inherit;
}


.input {
    /* align-items: center; */
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    /* display: inline-flex; */
    font-size: 1.4em;
    height: 2.5em;
    /* justify-content: flex-start; */
    line-height: 1.5;
    /* position: relative; */
    /* vertical-align: top; */
    width: 80%;
    margin-left: .5em;
}

.field {
    margin: 1em;
}

textarea {
    padding: 1em;
    font-size: 1.4em;
    border-color: #E6ECF8;
    color: #141c3a;
    box-shadow: none;
    height: initial;
    display: block;
    padding: calc(0.75em - 1px);
    resize: vertical;
    width: 90%;
    font-family: "eurostile", sans-serif;
    margin-left: .5em;
    margin-bottom: 1em;
}

.button {
    width: 90%;
    margin:0;
}

select {
    font-size: 1.4em;
    border-color: #e6ecf8;
    color: #141c3a;
    box-shadow: none;
    width: 90%;
    padding: .5em 2.5em .5em 1em;
    cursor: pointer;
    display: block;
    max-width: 100%;
    outline: none;
    border-radius: 4px;
}

.contact-div h1 {
    padding: .75em;
}

@media (min-width: 1024px) {

    .hero-body h1 {
        font-size: 2em;
    }

    .hero-body h2 {
        font-size: 1.5em;
    }

    .hero-body img {
        width: 18%;
    }

    .hero-foot {
        text-align: center;
    }

    .hero-foot img {
        margin-bottom: -.4em;
        width: 70%;
        box-sizing: border-box;
    }

    .column-is-three-fifth h1 {
        color: white;
        margin-bottom: 1.5em;
        font-weight: bold;
        font-size: 2.5em;
        font-family: "eurostile", sans-serif;
        padding: 0 3em;
    }

    .column-is-three-fifth h2 {
        color: white;
        font-weight: 400;
        line-height: 1.5;
        font-size: 1.7em;
        font-family: "europa", sans-serif;
        padding: 0 5em;
    }

    .container-skillset {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .column-skillset {
        padding: 3em 1em;
        width: 100%;
    }

    .skillset-p{
        margin-bottom: 2em;
        font-size: 1.4em;
        line-height: 1.5;
        font-weight: 400;
    }
    li{
        font-size: 1.2em;
        font-weight: 400;
    }
    
    .column-is-multiline {
        display: flex;
    }

    .startup-box{
        padding: 2.5em;
        width: 100%;
    }

    .startup-img {
        margin-bottom: 1.5em;
        width: 50%;
    }

    .startup-p {
        font-size: 1.2em;
        margin-bottom: 2em;
    }

    .call-action{
        margin: -.75em;
        display: flex;
    }

    .call-action-item {
        margin-bottom: 0.75em;
        color: white;
        width: 100%;
    }

    .call-action-item h1 {
        font-weight: bold;
        font-size: 2.4em;
    }

    .call-action-item p {
        margin-top: .6em;
        font-weight: 400;
        font-size: 1.4em;
    }

    .colab-button {
        text-decoration: none;
        color: #6e07f3;
        border: 2px solid #6e07f3;
        border-radius: 2em;
        font-size: 18px;
        background-color: transparent;
        padding: 1.2em 2.5em;
        margin-top: 2em;
    }

}